*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main{
    display: flex;
    flex-direction:row;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.top, .bot{
    text-align: center;
    color: #555555;
    padding: 10px;
    font-size: 19px
}
.top{
    top: 0;
    position: absolute;
    width: 100%;
    margin-top: 10px;
}

.bot{
    bottom: 0;
    position: absolute;
    width:100%;
    margin-bottom: 10px;
}
.meta-logo img {
    max-width: 90px; 
    height: auto; 
    margin-bottom: 20px; 
    align-items:center
}
.bot a{
    color:#787878;
    margin: 0px 7px;
}

.left img{
    max-width: 160px;
    height: auto;
}

.left, .right{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left{
    justify-content: left;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right input, .right button, .create_box{
    width: 100%;
    box-sizing: border-box;
    font-size: 20px
}
form input{
    padding: 20px;
    margin: 8px 0;
    border: 2px solid #e5e4e4;
    border-radius: 10px;
}

form button{
    padding: 15px;
    background-color: #1876f3;
    color: white;
    border: none;
    border-radius: 30px;
    margin: 8px 0 20px 0;
    cursor: pointer;
    font-size: 20px;
}
button:hover{
    background-color: #10478f;
}

a{
    text-decoration: none;
}

.links a{
    display: block;
    color: #000000;
    font-size: 17px;
    margin-bottom: 25px;
}
.create_box{
    text-align: center;
    display: block;
    width: 100%;
    padding: 12px;
    border: 2px solid #4793f7;
    border-radius: 30px;
    color: #1876f3;
    cursor: pointer;
}

.links a:hover{
    text-decoration: underline;
}

@media(max-width: 768px){
    .main{
        flex-direction: column;
        align-items: center;
    }
    .left {
        justify-content: center;
        margin-bottom: 60px;
    }
    .left img{
        max-width: 100px;
        height: auto;
<<<<<<< HEAD
    }
    .create_box{
        margin-top: 150px;
=======
>>>>>>> e4f94bda1536187053acacf5809469a0116050e3
    }
    .create_box{
        margin-top: 150px;
    }
}
